# Python
.venv/
*.pyc
__pycache__/

# Node
**/node_modules
**/npm-debug.log*

# Testing
**/.pytest_cache/
**/.coverage
**/htmlcov/

# Compiled
**/dist/
**/build/

# Config
**/.env*

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Git
.git
.gitignore