[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
marshmallow = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
start = "python3 app.py"
migrate = "flask db upgrade"
