[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.0"
python-dotenv = "~=1.0"
flask-sqlalchemy = "~=3.1"
flask-migrate = "~=4.0"
psycopg2-binary = "~=2.9"
marshmallow = "~=3.20"
werkzeug = "~=3.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
start = "python3 app.py"
migrate = "flask db upgrade"
